<!doctype html>
<html ng-app="app">
  <head>
    <title>One in a Million</title>
    <meta name="description" content="A census-powered quiz for exploring your uniqueness">
    <meta property="og:image" content="http://www.anthonygarvan.com/oneinamillion/img/snowflake.png"/>
    
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="node_modules/ui-select/dist/select.min.js"></script>
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="node_modules/uswds/dist/css/uswds.min.css">
    <link rel="stylesheet" href="node_modules/ui-select/dist/select.min.css">
    <link rel="stylesheet" href="node_modules/selectize/dist/css/selectize.css">

    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">

    <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          
            ga('create', 'UA-38185442-3', 'auto');
            ga('send', 'pageview');
          
    </script>
  </head>
  <body>
    <div ng-controller="ctrl">
    <div class="usa-grid">
    <div class="usa-width-one-whole">
      <div ng-show="tab == 'intro'">
          <h1>Hey There.</h1>
          <h2>
          Ever feel like you are one in a million? Find out by taking this quiz. 
          After every answer, we'll tell you what the odds are 
          that another American is like you, based on a survey of {{ this.formatNumber(total) }}
          Americans run by the U.S. Census Bureau.
          </h2>
          <div id="im-game-container" class="center"><div class="action-container">
            <button id="im-game" class="usa-button-big big-text" type="button" ng-click="tab='quiz'">
            I'm game.
            </button>
          </div></div>
      </div>

      <div ng-show="tab == 'quiz'">
          <div class="center">
            <div class="question-container">
              <h1 id="one-in-a">1 in {{ odds }}</h1>
              <h3>{{ prompts[question].prompt }}</h3>
              <ui-select ng-model="this[selection].selected" theme="selectize" autofocus="true" on-select="next()">
                <ui-select-match placeholder="{{prompts[question].placeholder}}">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="selection1 in this[question] | filter: $select.search">
                  <span ng-bind-html="selection1.name | highlight: $select.search"></span>
                </ui-select-choices>
              </ui-select>
          </div></div>
      </div>

      <div ng-show="tab == 'results'">
          <div class="center">
            <div class="results-container">
            <div ng-show="!snowflake">
              <h1>You're 1 in {{ odds }}!</h1>
            </div>
            <div ng-show="snowflake">
              <h1>You're a special snowflake!</h1>
              <h2>Out of all the {{ formatNumber(total) }} people surveyed, there wasn't anyone like you.
              </h2>
            </div>
            <h3><strong>You're weird.</strong> But so is everyone else. In fact, over 10% of the US is "one in a million"
            as measured by these six questions. #yaydiversity</h3> 
            <div id="go-again-container" class="center"><div class="results-container">
              <button id="again" class="usa-button-big big-text" type="button" ng-click="goAgain()">
              Again!
              </button>
            </div></div>
            </div></div>
      </div>
    </div></div>


    </div>
    <footer>
      <div class="usa-grid">
          <div class="usa-width-one-whole">
      <h4>A project by <a href="http://www.anthonygarvan.com">Anthony Garvan</a>.</h4>
    </footer>
  </body>
</html>